/******************************************************************

Stylesheet: TinyMCE Editor

// This stylesheet is loaded automatically by Wordpress when compiled and placed in the root theme directory folder as editor-style.css
// For more info, check out the codex: http://codex.wordpress.org/Editor_Style

******************************************************************/

// Wrap the entire post style inside the TinyMCE selector, as suggested here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {

	// normalize: http://necolas.github.io/normalize.css/
	@import "partials/normalize";
	
	// Sass variables
	@import "partials/variables";
	
	// import mixins
	@import "partials/mixins";
	
	// typography
	@import "partials/typography";

	width: 731px;
	font-family: $proxima;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	padding: 1.5em 1.5em 0;

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
		text-rendering: optimizelegibility;
		font-weight: 500;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: disc;
	}
	p {
		margin: 0 0 1.5em;
	}
	table {
		width: 100%;
		border: 1px solid $border-color;
		margin-bottom: 1.5em;
	}
	tr {
		border-bottom: 1px solid $border-color;
		&:nth-child(odd) {
			background: $bg-light-color;
		}
	}
	td {
		padding: 5px;
		border-right: 1px solid $border-color;

		&:last-child {
			border-right: 0;
		}
	}
	th {
		background-color: $background-color;
		border-bottom: 1px solid $border-color;
		border-right: 1px solid $border-color;

		&:last-child {
			border-right: 0;
		}
	}
	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}
	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	/*********************
	LARGER MOBILE DEVICES
	This is for devices like the Galaxy Note or something that's
	larger than an iPhone but smaller than a tablet. Let's call them
	tweeners.
	*********************/
	@media only screen and (min-width: 481px) {

		/* at this larger size, we can start to align images */
		.alignleft, img.alignleft {
			margin-right: 1.5em;
			display: inline;
			float: left;
		}
		.alignright, img.alignright {
			margin-left: 1.5em;
			display: inline;
			float: right;
		}
		.aligncenter, img.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
			clear: both;
		}
	}
}

