/******************************************************************
Stylesheet: IE Stylesheet
	Supporting IE8 and above
******************************************************************/

// IMPORTS & DEPENDENCIES
// Remember, all the BASE styles are called already since IE can
// read those. Below, we need to import only the stuff IE can't
// understand (what's inside the media queries). We also need to
// import the mixins file so SASS can understand the variables.

@import "partials/variables";
@import "partials/mixins";
@import "partials/fonts";

// ADDITIONAL IE FIXES
// These fixes are now ONLY seen by IE, so you don't have to worry
// about using prefixes, although it's best practice. For more info
// on using Modernizr classes, check out this link:
// http://www.modernizr.com/docs/

/* Correcting font issue in IE8 */
.lt-ie9 body {
	font: 14px/26px $sans-serif;
}

/* Making header nav links tighter */
.lt-ie9 header nav ul li {
	display: inline-block;
	margin: 0 9px 0 0;
}
.lt-ie9 header nav ul li ul li, .lt-ie9 header nav ul li ul li a { 
	display: block;
	margin: 0;
}

/* Replacing dropshadow with solid border */
.lt-ie9 header nav ul li ul {
	border: 1px #ccc solid;
}

/* Making header give button smaller */
.lt-ie9 a.give {
	padding-left: 30px;
	margin: 0 auto;
	text-align: left;
	min-width: 100px;
}

/* Dealing with background cover on IE8 */
.lt-ie9 #hero {
	width: 100%;
	background-position: top center;
	margin: 0 auto 13px auto;
}
.lt-ie9 .home #hero {
	margin: 0 auto 40px auto;	
}