@charset "UTF-8";
/******************************************************************
Site Name: Department or Center Name
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
   Normalize v3.0.2 | MIT License
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*    F O N T S
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg"); } }
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: lighter;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg"); } }
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg"); } }
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg"); } }
/* ==========================================================================
   Typography
   ========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 14px/26px "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*    Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #347bad;
  font-weight: bold;
  clear: both;
  margin: 0; }

h1, h2 {
  text-transform: uppercase;
  letter-spacing: 2px; }

.page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-top: 30px;
  margin-bottom: 20px; }

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0; }
.home h4 {
  margin-bottom: 15px; }

h1 {
  font-size: 4em;
  line-height: 1.1em;
  margin: 0 0 15px 0; }

h2 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: lighter; }

h3 {
  font-size: 2.2em;
  line-height: 1.2em; }

h4 {
  font-size: 2em;
  line-height: 1.2em; }

h5 {
  font-size: 1.5em;
  line-height: 1.3em; }

h6 {
  font-size: 1em;
  line-height: 1.3em; }

/* Custom Headers */
h1.search-title {
  margin: 25px 0 40px 0; }

h1 span {
  display: block;
  font-size: .2em;
  line-height: 1em; }

.home h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 15px 15px 0 0;
  margin: 0; }

.archive .main header h2 {
  font-size: 2em; }

.tax-people_cat .main header h2.filter-title {
  color: white;
  background-color: #469bce;
  padding: 10px 0; }

.home .col h3, .col + .col h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.5em; }

.home .col h3 {
  margin-bottom: 30px; }

nav h3, .side h3 {
  font-size: 1.5em;
  margin: 0 0 20px 0; }

.archive .main header h3 {
  font-size: 1.2em; }

.filter h3 {
  margin-bottom: 15px; }

.home h4 {
  font-size: 1em;
  line-height: 0em; }

.col + .col h4 {
  font-size: 1em; }

/*    Text Elements
/*--------------------------------------*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0; }

p {
  margin: 20px 0; }

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px; }

ul, ol {
  padding: 0; }

li {
  margin: 0 0 0 20px;
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

cite {
  font-style: italic; }

blockquote {
  padding: 5px 40px 5px 22px;
  font-size: 1.5em;
  line-height: 1.3em;
  font-style: italic;
  color: #0277bd;
  border-left: 15px solid #469bce;
  margin: 30px 0; }

figcaption {
  font-style: italic; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 25px 0;
  font-weight: normal; }

/*    Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: none;
  color: #469bce;
  font-weight: bold;
  -webkit-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out; }

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #0277bd; }

.col a:visited {
  color: #014771; }

article a[href*="//"]:not([href*="sol.dev"]) {
  background: url("../images/new-window.png") no-repeat right center;
  padding-right: 12px;
  margin-right: 5px; }

/*    Accessibility
/*--------------------------------------*/
.skip {
  float: left; }

.skip:focus {
  position: static;
  width: auto;
  height: auto; }

/* ==========================================================================
   Button Styles
   ========================================================================== */
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn {
  background-color: #469bce;
  color: white !important;
  padding: 3px 0;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  .btn:hover, button:hover, input[type="submit"]:hover, .btn:focus, button:focus, input[type="submit"]:focus {
    background-color: #0277bd;
    color: white; }
  .btn:active, button:active, input[type="submit"]:active {
    top: 1px; }

/* ==========================================================================
   Form Styles
   ========================================================================== */
fieldset {
  border: none;
  padding: 0; }

label {
  font-weight: bold; }

input + label {
  font-weight: normal; }

form ul li ul li label {
  padding-left: 10px; }

label span {
  color: #790000;
  margin-left: 5px; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  .field:focus,
  .field:active {
    background-color: white; }
  input[type="text"].error, input[type="text"].is-invalid,
  input[type="password"].error,
  input[type="password"].is-invalid,
  input[type="datetime"].error,
  input[type="datetime"].is-invalid,
  input[type="datetime-local"].error,
  input[type="datetime-local"].is-invalid,
  input[type="date"].error,
  input[type="date"].is-invalid,
  input[type="month"].error,
  input[type="month"].is-invalid,
  input[type="time"].error,
  input[type="time"].is-invalid,
  input[type="week"].error,
  input[type="week"].is-invalid,
  input[type="number"].error,
  input[type="number"].is-invalid,
  input[type="email"].error,
  input[type="email"].is-invalid,
  input[type="url"].error,
  input[type="url"].is-invalid,
  input[type="tel"].error,
  input[type="tel"].is-invalid,
  input[type="color"].error,
  input[type="color"].is-invalid,
  select.error,
  select.is-invalid,
  textarea.error,
  textarea.is-invalid,
  .field.error,
  .field.is-invalid {
    color: red;
    border-color: red;
    background-color: white;
    outline-color: red; }
  input[type="text"].success, input[type="text"].is-valid,
  input[type="password"].success,
  input[type="password"].is-valid,
  input[type="datetime"].success,
  input[type="datetime"].is-valid,
  input[type="datetime-local"].success,
  input[type="datetime-local"].is-valid,
  input[type="date"].success,
  input[type="date"].is-valid,
  input[type="month"].success,
  input[type="month"].is-valid,
  input[type="time"].success,
  input[type="time"].is-valid,
  input[type="week"].success,
  input[type="week"].is-valid,
  input[type="number"].success,
  input[type="number"].is-valid,
  input[type="email"].success,
  input[type="email"].is-valid,
  input[type="url"].success,
  input[type="url"].is-valid,
  input[type="tel"].success,
  input[type="tel"].is-valid,
  input[type="color"].success,
  input[type="color"].is-valid,
  select.success,
  select.is-valid,
  textarea.success,
  textarea.is-valid,
  .field.success,
  .field.is-valid {
    color: green;
    border-color: green;
    background-color: white;
    outline-color: green; }
  input[type="text"][disabled], input[type="text"].is-disabled,
  input[type="password"][disabled],
  input[type="password"].is-disabled,
  input[type="datetime"][disabled],
  input[type="datetime"].is-disabled,
  input[type="datetime-local"][disabled],
  input[type="datetime-local"].is-disabled,
  input[type="date"][disabled],
  input[type="date"].is-disabled,
  input[type="month"][disabled],
  input[type="month"].is-disabled,
  input[type="time"][disabled],
  input[type="time"].is-disabled,
  input[type="week"][disabled],
  input[type="week"].is-disabled,
  input[type="number"][disabled],
  input[type="number"].is-disabled,
  input[type="email"][disabled],
  input[type="email"].is-disabled,
  input[type="url"][disabled],
  input[type="url"].is-disabled,
  input[type="tel"][disabled],
  input[type="tel"].is-disabled,
  input[type="color"][disabled],
  input[type="color"].is-disabled,
  select[disabled],
  select.is-disabled,
  textarea[disabled],
  textarea.is-disabled,
  .field[disabled],
  .field.is-disabled {
    cursor: not-allowed;
    border-color: gray;
    opacity: 0.6; }
    input[type="text"][disabled]:focus, input[type="text"][disabled]:active, input[type="text"].is-disabled:focus, input[type="text"].is-disabled:active,
    input[type="password"][disabled]:focus,
    input[type="password"][disabled]:active,
    input[type="password"].is-disabled:focus,
    input[type="password"].is-disabled:active,
    input[type="datetime"][disabled]:focus,
    input[type="datetime"][disabled]:active,
    input[type="datetime"].is-disabled:focus,
    input[type="datetime"].is-disabled:active,
    input[type="datetime-local"][disabled]:focus,
    input[type="datetime-local"][disabled]:active,
    input[type="datetime-local"].is-disabled:focus,
    input[type="datetime-local"].is-disabled:active,
    input[type="date"][disabled]:focus,
    input[type="date"][disabled]:active,
    input[type="date"].is-disabled:focus,
    input[type="date"].is-disabled:active,
    input[type="month"][disabled]:focus,
    input[type="month"][disabled]:active,
    input[type="month"].is-disabled:focus,
    input[type="month"].is-disabled:active,
    input[type="time"][disabled]:focus,
    input[type="time"][disabled]:active,
    input[type="time"].is-disabled:focus,
    input[type="time"].is-disabled:active,
    input[type="week"][disabled]:focus,
    input[type="week"][disabled]:active,
    input[type="week"].is-disabled:focus,
    input[type="week"].is-disabled:active,
    input[type="number"][disabled]:focus,
    input[type="number"][disabled]:active,
    input[type="number"].is-disabled:focus,
    input[type="number"].is-disabled:active,
    input[type="email"][disabled]:focus,
    input[type="email"][disabled]:active,
    input[type="email"].is-disabled:focus,
    input[type="email"].is-disabled:active,
    input[type="url"][disabled]:focus,
    input[type="url"][disabled]:active,
    input[type="url"].is-disabled:focus,
    input[type="url"].is-disabled:active,
    input[type="tel"][disabled]:focus,
    input[type="tel"][disabled]:active,
    input[type="tel"].is-disabled:focus,
    input[type="tel"].is-disabled:active,
    input[type="color"][disabled]:focus,
    input[type="color"][disabled]:active,
    input[type="color"].is-disabled:focus,
    input[type="color"].is-disabled:active,
    select[disabled]:focus,
    select[disabled]:active,
    select.is-disabled:focus,
    select.is-disabled:active,
    textarea[disabled]:focus,
    textarea[disabled]:active,
    textarea.is-disabled:focus,
    textarea.is-disabled:active,
    .field[disabled]:focus,
    .field[disabled]:active,
    .field.is-disabled:focus,
    .field.is-disabled:active {
      background-color: blue; }

input[type="password"] {
  letter-spacing: 0.3em; }

input[type="submit"] {
  padding: 7px 0;
  border: none; }

input[type="search"] {
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: .85em;
  padding: 5px 40px  5px 10px;
  background: white url("../images/search-icon.png") no-repeat 160px center;
  font-weight: bold;
  margin-bottom: 10px; }

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em; }

select {
  width: 302px; }

select[multiple="multiple"] {
  height: 100px;
  padding: 10px; }

form li {
  list-style: none;
  margin: 10px 0; }

form ul li ul li {
  list-style: none;
  margin: 0; }

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center; }

.validation_message {
  font-style: italic; }

/*    E V E N T S
/*--------------------------------------*/
#tribe-events {
  margin-top: 160px !important; }

.tribe-bar-submit {
  float: right !important;
  width: 140px;
  margin: 1px 20px 0 0; }

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #469bce !important;
  border-radius: 15px !important;
  color: white !important;
  padding: 6px 0 !important;
  font-size: 1em !important;
  font-weight: bold;
  letter-spacing: 1px !important;
  text-transform: none !important;
  min-width: 110px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  .tribe-bar-submit .tribe-events-button:visited, .tribe-events-read-more:visited, .tribe-events-read-more:link:visited, .tribe-events-list-widget a.btn:visited {
    background-color: #469bce !important; }
  .tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
    background-color: #0277bd !important;
    color: white;
    -webkit-transition: background-color 0.24s ease-in-out;
    transition: background-color 0.24s ease-in-out; }
  .tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
    top: 1px; }

.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  padding: 3px 0 !important; }

.tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important; }

#tribe-events, #tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto; }

#tribe-events-content {
  width: 640px;
  margin: 0 auto; }

.tribe-events-venue-details {
  font-weight: normal; }

.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px; }

.tribe-events-schedule {
  margin: 0 !important;
  line-height: 1em; }

#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: #e0e0e0 !important; }

.tribe-events-list-widget h3 {
  margin-bottom: 20px !important; }
.tribe-events-list-widget h4 {
  margin-bottom: 0px;
  line-height: 1.5em; }
.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: .85em; }
.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0; }
.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0; }
.tribe-events-list-widget ol li {
  margin-bottom: 25px; }

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px; }
  #tribe-bar-form label {
    font-size: 1em;
    margin-top: 5px; }
  #tribe-bar-form input[type="text"] {
    font-weight: normal; }

/*    S L I D E R
/*--------------------------------------*/
.bx-wrapper {
  height: 380px !important;
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both; }

#bxslider {
  margin-top: 0; }

#slider {
  width: 100%;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  margin: 0 0 40px 0; }
  #slider li {
    height: 440px;
    margin: 0 0 0 0;
    list-style: none;
    float: left;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative; }
  #slider .slider-content a {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: normal; }
  #slider .slider-content p {
    font-size: 12px;
    line-height: 18px; }
  #slider .content {
    margin: 0 auto; }
  #slider .slider-content {
    background: url("../images/transparent-bg.png") repeat;
    width: 460px;
    padding: 0px 20px;
    max-height: 150px;
    position: absolute;
    bottom: 10px;
    border-left: 20px solid #469bce; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 50px;
  background: url(../images/arrow-left.png) no-repeat; }
.bx-wrapper .bx-next {
  right: 50px;
  background: url(../images/arrow-right.png) no-repeat; }
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 34px;
  height: 58px;
  z-index: 9999;
  text-indent: -9999px; }
.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* PAGER */
.bx-pager {
  color: rgba(0, 0, 0, 0.53);
  padding-top: 0px;
  margin-top: -30px;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }

.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-pager-link {
  overflow: hidden; }

.bx-pager.bx-default-pager a {
  background: none;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px white solid; }

.bx-pager a:hover,
.bx-pager a.active {
  background: #469bce; }

/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
.content, header {
  width: 940px;
  margin: 0 auto; }

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 318px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14); }

.col {
  width: 640px;
  float: left; }

.col + .col {
  width: 280px;
  margin: 10px 0 30px 20px; }

/*    H O M E  P A G E
/*--------------------------------------*/
.home #hero {
  height: 438px;
  margin: 0 0 40px 0; }
  .home #hero .content {
    width: 100%;
    height: 438px;
    background: url("../images/hero-bg.png") repeat-x left bottom; }
  .home #hero .hero-description {
    font-size: 1.5em;
    font-style: italic;
    color: white;
    text-align: right;
    width: 580px;
    padding: 350px 0 0 360px;
    margin: 0 auto; }

.home .col {
  width: 460px;
  float: left; }
  .home .col li {
    padding: 0px 15px 5px 0;
    margin: 0 0 25px 0;
    clear: both;
    list-style: none; }
    .home .col li .news-item {
      float: right;
      width: 320px; }
    .home .col li .news-item p {
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal; }
  .home .col img {
    margin-top: -6px !important; }
  .home .col p, .home .col span.description {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-size: .85em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    display: block; }
  .home .col.news-col .btn {
    margin-top: -5px; }

.home .col + .col {
  width: 220px;
  margin: 0 0 0 20px;
  background-color: white;
  padding: 0; }
  .home .col + .col li {
    padding: 0;
    border: none; }

.home .news-col .btn {
  margin-left: 125px; }

.home .events-col ul {
  margin-top: 0; }

/*    H E A D E R
/*--------------------------------------*/
header {
  padding: 35px 0 0 0; }
  header.top h1, header.top h2 {
    width: 690px;
    display: inline-block;
    margin: 0;
    text-align: center; }
  header .dept-logo {
    width: 581px;
    height: 72px; }
  header nav {
    clear: both;
    float: left;
    padding: 30px 0 20px 0; }
  header nav ul {
    width: 730px; }
  header .search {
    float: right;
    clear: right;
    margin-top: 30px; }
  header .give-back {
    width: 130px;
    text-align: center;
    float: right;
    margin-top: 20px; }
    header .give-back .btn.give {
      background-image: url("../images/heart-icon.png");
      background-position: 11px center;
      background-repeat: no-repeat;
      padding-left: 27px !important;
      margin: 0 auto;
      text-align: left;
      min-width: 90px; }
    header .give-back span {
      font-size: .85em;
      display: block; }
  header .university-logo {
    float: left;
    margin-top: 20px;
    width: 119px;
    height: 38px; }

.breadcrumbs {
  background-color: #0277bd;
  width: 100%;
  float: left;
  clear: both;
  color: white;
  font-size: .85em;
  padding: 8px 0;
  margin-bottom: 40px; }
  .breadcrumbs img {
    margin: 0;
    padding: 0; }
  .breadcrumbs ul {
    margin: 0;
    padding: 0;
    clear: both;
    float: left; }
  .breadcrumbs li {
    float: left;
    display: inline-block;
    padding: 0 0 0px 10px;
    margin: 0; }
  .breadcrumbs li + li {
    margin: 0 0 0 5px;
    background: url("../images/arrow.png") no-repeat left center; }
  .breadcrumbs a {
    font-weight: bold;
    color: white;
    text-decoration: underline; }

/*    N A V I G A T I O N
/*--------------------------------------*/
header nav ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left; }

header nav ul li, footer nav ul li {
  display: inline-block;
  margin: 0 10px 0 0; }

header nav ul li {
  position: relative; }

/* Drop Down */
header nav ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  width: 170px;
  top: 20px;
  border-top: 4px solid #469bce;
  margin-top: 5px;
  background-color: white;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }

header nav ul li ul li, header nav ul li ul li a {
  display: block;
  margin: 0; }

header nav ul li ul li a {
  line-height: 1em;
  padding: 6px 0; }

header nav ul li:hover ul, header nav .sub-menu.open {
  display: block;
  opacity: 1;
  visibility: visible; }

header nav ul li.menu-item-has-children {
  background: url("../images/nav-arrow.png") no-repeat right center;
  padding-right: 10px; }

header nav ul li ul li.menu-item-has-children {
  background: none; }

header nav a, footer nav a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 1px; }

header nav a, header nav a:link {
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out; }

header nav a:hover, header nav a:focus, header nav a:active {
  color: #0277bd; }

footer a, footer a:link, footer .copyright p a, footer a:visited,
footer nav a:hover, footer nav a:active {
  color: white; }

/* Side Menu */
.col.side {
  width: 220px;
  margin-left: 80px; }
  .col.side .content {
    width: 220px; }
  .col.side li {
    list-style: none;
    margin-left: 0;
    line-height: 1.5em; }
  .col.side ol, .col.side ul {
    margin-bottom: 25px; }
  .col.side nav.page-nav ul {
    padding: 0;
    margin: 0; }
  .col.side .news-feed {
    margin-bottom: 40px; }
    .col.side .news-feed li {
      margin-bottom: 10px; }
  .col.side .sub-menu {
    display: none; }
  .col.side .current_page_item .sub-menu,
  .col.side .current_page_parent .sub-menu,
  .col.side .current-page-ancestor .sub-menu {
    display: block;
    margin: 0 0 0 20px; }
  .col.side .sub-menu li:before {
    content: "•";
    color: #0277bd;
    font-size: 1.5em;
    padding-right: 5px; }

.col-nav {
  width: 220px; }
  .col-nav li {
    list-style: none;
    margin-left: 0;
    line-height: 1.5em; }

/*    F O O T E R
/*--------------------------------------*/
footer {
  background-color: #347bad;
  clear: both;
  margin-top: 60px;
  float: left;
  clear: both;
  width: 100%;
  padding: 35px 0 40px 0;
  color: white;
  font-size: 1em;
  line-height: 1.5em; }
  footer nav ul.footer-nav {
    clear: left;
    float: left;
    margin-right: 50px; }
  footer nav ul.social-links {
    clear: right;
    float: right; }
  footer nav .icon {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle; }
    footer nav .icon img {
      width: auto;
      height: 21px; }
    footer nav .icon .email {
      height: 18px; }

footer .copyright {
  padding-top: 50px;
  font-size: .85em; }
  footer .copyright .university-logo {
    float: left;
    width: 100px;
    height: 32px; }
  footer .copyright p {
    float: left;
    margin: 0 0 0 20px; }
  footer .copyright span {
    margin: 0 5px; }

/*    P E R S O N  P A G E
/*--------------------------------------*/
.single-people .details span {
  display: inline-block; }
.single-people .details span + span {
  margin-left: 20px; }
.single-people .details p {
  margin-top: 0px; }

.single-people .col + .col {
  margin-top: 0; }

.single-people .bio {
  border-bottom: 1px solid #469bce;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.single-people .photo {
  width: 280px;
  height: 280px;
  margin-bottom: 25px; }

.single-people .circle {
  border-radius: 140px; }

.single-people .rounded {
  border-radius: 70px; }

.link {
  background: url("../images/link-icon.png") no-repeat left center;
  padding-left: 18px; }

.download {
  background: url("../images/download-icon.png") no-repeat left center;
  padding-left: 18px; }

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/
/* Filters */
.tax-people_cat .main header {
  text-align: center; }

.filter {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%; }
  .filter ul {
    padding: 0; }
  .filter li {
    list-style: none;
    display: inline-block;
    margin: 0 5px; }

.button-group {
  width: 100%;
  float: left; }
  .button-group button {
    margin-right: 5px;
    min-width: 124px;
    letter-spacing: 0px;
    letter-spacing: 0px; }
  .button-group button.all {
    min-width: 100px;
    margin-right: 10px; }

/* People List */
.people-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both; }
  .people-list ul {
    margin: 30px 0;
    padding: 0; }
  .people-list li {
    list-style: none; }

.people-list .person-item {
  display: block;
  float: left;
  padding: 15px 10px;
  margin: 0px;
  width: 210px;
  height: 210px;
  text-align: center;
  line-height: 1.3em;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  .people-list .person-item a {
    display: block; }
  .people-list .person-item:active, .people-list .person-item:hover, .people-list .person-item:focus {
    background-color: rgba(0, 0, 0, 0.03); }
  .people-list .person-item .photo {
    border: 7px solid white;
    width: 100px;
    height: 100px; }
  .people-list .person-item .circle {
    border-radius: 55px; }
  .people-list .person-item .rounded {
    border-radius: 25px; }
  .people-list .person-item .name {
    text-transform: uppercase;
    color: #469bce;
    letter-spacing: 1px; }
  .people-list .person-item .interest {
    font-size: .85em;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1em; }
  .people-list .person-item .position {
    color: rgba(0, 0, 0, 0.53);
    font-style: italic;
    margin-bottom: 10px; }
  .people-list .person-item .email, .people-list .person-item .office, .people-list .person-item .office-hours, .people-list .person-item .phone {
    font-size: .85em;
    margin: 0; }
  .people-list .person-item .email a {
    background: url("../images/email-icon.png") no-repeat left center;
    font-size: 1em;
    padding-left: 25px;
    display: inline-block; }

/* Grad Student Page */
/* Staff */
.term-staff .people-list li:hover {
  background: none; }
.term-staff .people-list .name {
  color: rgba(0, 0, 0, 0.87); }
.term-staff .people-list .position {
  margin-top: 10px; }

/*    A R T I C L E S
/*--------------------------------------*/
.category article, .search-results article {
  padding-bottom: 40px; }
.category article + article, .search-results article + article {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px; }

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block; }

h1 + .publish-date {
  margin-top: -15px; }

/*    T A B L E S
/*--------------------------------------*/
td, th {
  padding: 5px; }

th {
  background-color: #c2d7e6; }

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03); }

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06); }

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12); }

/*    O T H E R
/*--------------------------------------*/
.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

.alignright {
  float: right;
  margin: 0 0 15px 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pagination li {
  display: inline-block; }

.pagination {
  text-align: center;
  margin-top: 40px; }

/* FAQ */
dl.faq dt.question {
  background: white url("../images/inactive-arrow.png") no-repeat left 10px;
  padding-left: 15px;
  cursor: pointer; }
dl.faq dt.active {
  background: white url("../images/active-arrow.png") no-repeat left 10px; }
dl.faq dd {
  margin-left: 15px; }
dl.faq dd > p {
  margin-top: 10px; }

.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px; }

.light-primary {
  background: #c2d7e6; }

.primary {
  background: #347bad; }

.dark-primary {
  background: #2a648d; }

.light-secondary {
  background: #469bce; }

.secondary {
  background: #0277bd; }

.dark-secondary {
  background: #014771; }

.light {
  color: #fff; }

@media print {
  /* ==========================================================================
     Print Stylesheet
     ========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 1.5cm 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; }

  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0; }

  footer {
    margin-top: 0; }

  header a:after,
  a[href^="http://ucla.edu"]:after,
  .tribe-events-cal-links a:after {
    content: none; }

  #main-content {
    width: 100%; }

  .give-back,
  header form,
  footer img,
  #hero,
  #slider,
  .side,
  #tribe-events-bar {
    display: none; }

  dl.faq dd {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
